@font-face {
  font-family: Antipasto-bold;
  src: url(../assets/fonts/Antipasto-Pro-ExtraBold-trial.ttf);
}
@font-face {
  font-family: Antipasto-regular;
  src: url(../assets/fonts/Antipasto-Pro-Regular-trial.ttf);
}
@font-face {
  font-family: Antipasto-light;
  src: url(../assets/fonts/Antipasto-Pro-ExtraLight-trial.ttf);
}
.menu {
  transition: all 1s ease-in-out;
}
.menu-title {
  margin-bottom: 1.5rem;
}
.menu-none {
  transform: translateX(-100%);
}

.names {
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}
.names-title {
  margin-bottom: 1rem;
}
.names-sign {
  padding: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.names-sign_sign {
  padding: 0.5rem 4rem;
  width: 50%;
}
.names-input {
  height: 2rem;
  width: 100%;
  outline: none;
  padding: 1.2rem 1rem;
}
.names-input_x {
  border: 2px solid #31C4BE;
}
.names-input_o {
  border: 2px solid #F1B237;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main {
  min-width: 90%;
  height: 80%;
  overflow: hidden;
}

.home-icon {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  cursor: pointer;
}

.bg-o {
  background-color: #F1B237;
}

.bg-x {
  background-color: #31C4BE;
}

.bg-dblue {
  background-color: #192A32;
}

.bg-lblue {
  background-color: #1F3540;
}

.bg-gray {
  background-color: #A8BEC9;
}

.bg-green {
  background-color: #02CE91;
}

.accent-o {
  color: #F1B237;
}

.accent-x {
  color: #31C4BE;
}

.white {
  color: #fafafa;
}

.dblue {
  color: #192A32;
}

.gray {
  color: #A8BEC9;
}

.white {
  color: #fafafa;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap-2 {
  gap: 2rem;
}

.f-bold {
  font-family: Antipasto-bold;
}

.f-regular {
  font-family: Antipasto-regular;
}

.f-light {
  font-family: Antipasto-light;
}

.text-center {
  text-align: center;
}

.h-one {
  font-size: 3.051875rem;
}

.h-two {
  font-size: 2.44375rem;
}

.h-three {
  font-size: 1.95625rem;
}

.h-four {
  font-size: 1.5625rem;
}

.body {
  font-size: 1rem;
}

.btn {
  border: none;
  padding: 1.5rem 0;
  min-width: 23rem;
  max-width: 27.75rem;
  margin: 0 auto;
  border-radius: 0.75rem;
  cursor: pointer;
}
.btn:hover p {
  color: rgba(18, 18, 18, 0.9);
}

.btn-x {
  box-shadow: 0 8px 0 0 rgba(49, 196, 190, 0.65);
}
.btn-x:active {
  box-shadow: 0 4px 0 0 rgba(49, 196, 190, 0.65);
  transform: translateY(4px);
}

.btn-o {
  box-shadow: 0 8px 0 0 rgba(241, 178, 55, 0.65);
}
.btn-o:active {
  box-shadow: 0 4px 0 0 rgba(241, 178, 55, 0);
  transform: translateY(4px);
}

.btn-block {
  box-shadow: 0 8px 0 0 rgba(168, 190, 201, 0.65);
  pointer-events: none;
}

.btn-allow {
  box-shadow: 0 8px 0 0 rgba(2, 206, 145, 0.65);
  pointer-events: all;
}
.btn-allow:active {
  box-shadow: 0 4px 0 0 rgba(2, 206, 145, 0);
  transform: translateY(4px);
}

.light-container {
  padding: 2rem 1rem;
  background-color: #1F3540;
  border-radius: 0.75rem;
  box-shadow: 0 8px 0 0 rgba(18, 18, 18, 0.5);
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.rounded-8 {
  border-radius: 0.5rem;
}

.rounded-6 {
  border-radius: 0.375rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.p-none {
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */