// FONT

@font-face {
    font-family: Antipasto-bold;
    src: url(../assets/fonts/Antipasto-Pro-ExtraBold-trial.ttf);
}

@font-face {
    font-family: Antipasto-regular;
    src: url(../assets/fonts/Antipasto-Pro-Regular-trial.ttf);
}

@font-face {
    font-family: Antipasto-light;
    src: url(../assets/fonts/Antipasto-Pro-ExtraLight-trial.ttf);
}

// FONT SIZE
$h-one: 3,051875rem;
$h-two: 2,44375rem;
$h-three: 1,95625rem;
$h-four: 1,5625rem;
$body: 1rem;

// COLORS

$accent-o: #F1B237;
$accent-x: #31C4BE;
$gray: #A8BEC9;
$dark-blue: #192A32;
$light-blue: #1F3540;
$green: #02CE91;
$white: #fafafa;
$black: #121212;

// MIXINS
@mixin button {
    border: none;
    padding: 1.5rem 0;
    // width: 27.75rem;
    min-width: 23rem;
    max-width: 27.75rem;
    margin: 0 auto;
    border-radius: 0.75rem;
    cursor: pointer;

    &:hover p {
        color: rgba($black, 0.9);
    }
}

@mixin for-laptop-up {
    @media screen and (min-width:64em) {
        @content;
    }
}
