@import './config';
@import './menu';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
}

.main {
    min-width: 90%;
}

// BACKGROUNDS

.bg-o {
    background-color: $accent-o;
}

.bg-x {
    background-color: $accent-x;
}

.bg-dblue {
    background-color: $dark-blue;
}

.bg-lblue {
    background-color: $light-blue;
}

.bg-gray {
    background-color: $gray;
}

.bg-green {
    background-color: $green;
}

// COLORS

.accent-o {
    color: $accent-o;
}

.accent-x {
    color: $accent-x;
}

.white {
    color: $white;
}

.dblue {
    color: $dark-blue;
}

.gray {
    color: $gray;
}

// DISPLAY

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.gap-2 {
    gap: 2rem;
}

// FONT
.f-bold {
    font-family: Antipasto-bold;
}

.f-regular {
    font-family: Antipasto-regular;
}

.f-light {
    font-family: Antipasto-light;
}

.text-center {
    text-align: center;
}

// FONT SIZE

.h-one {
    font-size: 3.051875rem;
}

.h-two {
    font-size: 2.44375rem;
}

.h-three {
    font-size: 1.95625rem;
}

.h-four {
    font-size: 1.5625rem;
}

.body {
    font-size: 1rem;
}

// WIDTH 


// BUTTONS
.btn-x {
    @include button;
    box-shadow: 0 8px 0 0 rgba($accent-x, 0.65);

    &:active {
        box-shadow: 0 4px 0 0 rgba($accent-x, 0.65);
        transform: translateY(4px);
    }
}

.btn-o {
    @include button;
    box-shadow: 0 8px 0 0 rgba($accent-o, 0.65);
    &:active {
        box-shadow: 0 4px 0 0 rgba($accent-o, 0);;
        transform: translateY(4px);
    }
}